body{
    font-family: 'Roboto', sans-serif;
}

.header{
    position: relative;
    padding: 40px 0 20px;
}


.container{
    max-width: 1140px;
    margin: 0 auto;
}



.flex{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900');
    @import url('https://fonts.googleapis.com/css?family=Playball');
	
    .menu {
      position: absolute;
      top: 3vh;
      left: 0.5vw;
      z-index: 11;
    }
    

    .hmbrgr_menu_cnt {
        width: 30px;
        height: 30px;
        position: relative;
        padding: 5px;
        cursor: pointer;
        transition: all 0.5s ease;
        float: left;
        margin:0 60px
    }   
    .hmbrgr_menu_cnt:before,
    .hmbrgr_menu_cnt:after,
    .hmbrgr_menu_cnt .arrow {
        position: absolute;
        content: '';
        width:59%;
        height: 2px;
        background-color: white;
        transition: all 0.5s ease;
    }
    .hmbrgr_menu_cnt .arrow {top: 50%; transform: translateY(-50%);}

    /* [ Back Button ] */
        .hmbrgr_menu_cnt:before { top: 12px; }
        .hmbrgr_menu_cnt:after { bottom: 12px; }
        .hmbrgr_menu_cnt.open { transform: rotate(360deg); }
        .hmbrgr_menu_cnt.open:before {transform: rotate(-45deg); top: 14px;}
        .hmbrgr_menu_cnt.open:after {transform: rotate(45deg); bottom: 14px;}
        .hmbrgr_menu_cnt.open:before, .hmbrgr_menu_cnt.open:after { left: 2px; width: 35%;}
        .hmbrgr_menu_cnt.open:before, .hmbrgr_menu_cnt.open:after, .hmbrgr_menu_cnt.open .arrow { height: 4px; }
        .hmbrgr_menu_cnt .arrow:before,
        .hmbrgr_menu_cnt .arrow:after
        {
            position: absolute;
            top: -50px;
            left: 50%;
            transform: translateX(-50%);
            font-family: 'Lato', sans-serif;
            white-space: nowrap;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 2px;
        }
    /* [ // Back Button ] */

    .menu_all {
        position: fixed;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #FF9700;
        transform: translateX(-100%);
        transition: transform 0.5s; 
        z-index: 9;
    }
    .menu_all.active {
        transform: translateX(0);
    }
    .menu_all li {
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 0.095em;
        text-indent: 1px;
        text-align: center;
        margin-bottom: 20px;
        color: white;
        z-index: 10;
    }

    .menu_all li:first-of-type{
        margin-top: 100px;
    }

   .logo{
    position: absolute;
    max-width: 302px;
    background: #FF9700;
    padding: 25px 62px 28px 104px;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.logo_text{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 32px;
    color: #FFFFFF;
}

.adress{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #A3ABB6;
    margin-right: 50px;
}

.nav_li{
    opacity: 0.3;
}

.nav_li:not(:last-of-type){
    margin-right: 25px;
}

.icon{
    max-width: 100%;
}

/* блок main */

.flex_main{
    display: flex;
    justify-content: space-between; 
   
}

.main_rotate{
   position: relative;
   transform: rotate(-90deg);
}

.main_subtitle{
    font-weight: 900;
    font-size: 25px;
    line-height: 116.99%;
    letter-spacing: 0.05em;
    color: #A3A9B7;
    text-align: end;
    margin-top: 24px;
}
.main_hr{
    width: 4px;
    height: 64px;
    background: #A3A9B7;
    margin: 60px 0 0 3px;
    transform: rotate(90deg) translate(212px, -276px);
    
}

.main_rotate-text{
    position: absolute;
    width: 527px;
    left: -208px;
    top: 304px;
    z-index: 1;
    
}

.main_title{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 113px;
    color: #A3ABB6;
     

}

.main_text{
    font-weight: 400;
    font-size: 45px;
    line-height: 53px;
    color: #A3A9B7;
}

.main_subtitle {
    position: absolute;
    top: 10vh;
    left: 13vw;
}

.img_pointer{
    position: absolute;
    transform: rotate(90deg) translate(133px, 360px);
    z-index: 0;
}

.main__building{
    position: relative;
    max-width: 95%;
    left: 6.5vw;
    margin-bottom: 150px;
}

.main__building-text{
    position: absolute;
    top: 32px;
    left: 38px;
}

.main__building-title{
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.035em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 5px;
}

.main__building-link{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.main__building-img > img{
    max-width: 100%;
}

/* секция about */

.about{
    max-width: 965px;
    margin: 0 auto 83px;
    /* margin-bottom: 83px; */
}
.flex_about{
    display: flex;
    justify-content: space-between;
    /* align-items: stretch;  */
}

.flex_start{
    display: flex;
    justify-content: start;
    /* align-items: stretch;  */
}

.about_img{
    position: relative;
    /* left: 4vw; */
    
}
.about_img > img:first-of-type{
    max-width: 100%;
    /* z-index: 4; */
}
.about_pointer{
    position: absolute;
    max-width: 100%;
    right: -3vw;
    bottom: 1vh;
    z-index: -2;
}

.about_subtitle{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 11px;
}

.about_title{
    max-width: 233px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 35px;
}

.about_text{
    max-width: 510px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.015em;
    text-indent: 2px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 57px;
}
.about_old{
    max-width: 108px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 66px;
    line-height: 93px;
    letter-spacing: -0.115em;
    text-indent: 2px;
    border: 3px solid #000000;
    padding: 0 16px 58px 9px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 54px;
}

.about_year{
    max-width: 175px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.015em;
    text-indent: 2px;
    margin-bottom: 16px;
}

.about_hr{
    width: 64px;
    height: 3px;
    background: #000000;
    
}

.button{
    width: 202px;
    height: 40px;
    border: 1px solid #FF9700;
    border-radius: 30px;
    background-color: white;

    font-weight: 500;
    font-size: 14px;
    line-height: 120.69%;
    letter-spacing: 0.015em;
    text-indent: 1px;
    color: #FF9700;

    padding: 11px 0 12px;
    box-sizing: border-box;
    margin-bottom: 41px;
} 

.button:hover{
    cursor: pointer;
    background-color: #FF9700;
    color: #FFFFFF;
}

.projects_title{
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.015em;
    text-indent: 2px;
    margin-left: 240px;
    margin-bottom: 41px;
}

/* прошлые проекты карусель */

.carusel{
    /* max-width: 340px;   */
    margin-bottom: 103px;
}

.carusel{
    display: flex;
    
}

.carusel_item{
    max-width: 340px;
    margin-right: 26px;
    position: relative;
}

.carusel_img{
    max-width: 100%;
    margin-bottom: 42px;
    cursor: pointer;
}

.carusel_name{
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.07em;
    text-indent: 2px;
    color: #A3A9B7;
    margin-left: 70px;
}

.carusel_name::before{
    content: '';
    position: absolute;
    width: 48px;
    height: 3px;
    background: #A3A9B7;
    left: -70px;
    top: 10px;
}

.carusel_item:hover > .carusel_active{
    opacity: 1;
}

.carusel_active{
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    background-color: #C4C4C4;
    padding: 54px 0 46px 25px;
    box-sizing: border-box;
    width: 100%;
    transition: 0.5s all;
}

.carusel_item:hover > .carusel_name{
    color: black;
    transition: 0.5s;
}



.change_title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.015em;
    text-indent: 1px;

    color: #FFFFFF;
}

.change_subtitle{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.015em;
    text-indent: 1px;

    color: #FFFFFF;
    margin-bottom: 38px;
}

.change_text{
    max-width: 249px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.015em;
    text-indent: 1px;

    color: #FFFFFF;
    margin-bottom: 92px;
}



/* WHAT WE DO */

.wwd{
    /* padding: 81px 0 63px; */
    max-width: 952px;
    margin: 81px auto 131px;
}
.flex_wwd{
    display: flex;
    justify-content: space-between;
}

.content_subtitle{
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.07em;
    text-indent: 1px;
    color: rgba(163, 169, 183, 0.9);
    margin-bottom: 12px;
}

.content_title{
    max-width: 267px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-indent: 1px;
    margin-bottom: 44px;
}

.content_text{
    max-width: 486px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.015em;
    text-indent: 1px;
    color: rgba(0, 0, 0, 0.5);
       margin-bottom: 37px;
}

.wwd_grid{
    display: grid;
    gap: 22px 92px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 44px;
    
}

.wwd_icon{
    display: flex;
    align-items: center;
}

.wwd_grid-title{
    font-weight: 500;
    font-size: 14px;
    line-height: 120.69%;
    letter-spacing: 0.015em;
    text-indent: 1px;
    margin-left: 18px;
}

.button_wwd{
    margin-left: 126px;
}

.wwd_img{
    position: relative;
}

.wwd_img > img:first-of-type{
    max-width: 100%;
   
}
.wwd_pointer{
    position: absolute;
    max-width: 100%;
    left: -5vw;
    bottom: -6vh;
    z-index: -3;
}


/* отзывы клиентов */

.clients{
    background-image: url(../img/clients/bacground.png);
    
}

.clients_title{
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.07em;
    text-indent: 1px;
    margin: 69px 0 43px 100px;
}

.clients_content{
    display: flex;
    justify-content: space-around; 
}

.clients_foto{
    position: relative;
    margin-bottom: 50px;
}

.clients_foto > img:first-of-type{
    max-width: 100%;
   
}

.clients_pointer{
    position: absolute;
    max-width: 100%;
    left: 2vw;
    bottom: -3vh;
    z-index: -4;
}

.clients_name{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.125em;
    text-indent: 1px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 27px;
}


.clients_position{
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.095em;
    text-indent: 1px;
    color: #FF9700;
    margin-bottom: 32px;
}

.clients_text{
    position: relative;
    max-width: 424px;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    text-align: justify;
    letter-spacing: 0.085em;
    color: #C4C4C4;
    margin-bottom: 33px;
    margin-left: 50px;
}

.clients_text::before{
    content: ',,';
    position: absolute;
    font-family: 'Ribeye';
    font-style: 700;
    font-weight: 400;
    font-size: 50px;
    line-height: 68px;
    letter-spacing: 0.095em;
    text-indent: 1px;
    color: #C4C4C4;
   

    transform: rotate(178.94deg);
    top: -16px;
    left: -50px;
}

.clients_company{
    max-width: 623px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 44px;
}

/* New & Blog */

.new{
    max-width: 950px;
    margin: 0 auto 48px;
}

.new_flex{
    display: flex;
    justify-content: space-between;
    
}

.new_title{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.095em;
    text-indent: 1px;
    margin-bottom: 38px;
    
}

.new_img{
    max-width: 100%;
    margin-bottom: 21px;
}

.subtitle_name{
    position: relative;
    max-width: 200px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.095em;
    text-indent: 1px;
    margin-left: 50px;
}

.subtitle_name::before{
    content: '';
    position: absolute;
    width: 21px;
    height: 3px;
    background: #A3A9B7;
    left: -50px;
    top: 10px;
}


/* footer */

.footer{
    padding: 85px 0 67px;
}

.footer_flex{
    display: flex;
    justify-content: space-between;
}

.footer_grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
   
}

.footer_grid div:first-child{
    grid-column: span 2;
}

.footer_logo-text{
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.095em;
    text-indent: 1px;
    margin-bottom: 26px;
}

.footer_logo-adress{
    max-width: 257px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-indent: 1px;
}

.footer_link{
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-indent: 1px;
}

.footer_li:not(:last-of-type){
    margin-bottom: 11px;
}

.footer_link:hover{
    cursor: pointer;
    color: #FF8B03;
}

.select_text{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-indent: 1px;
    margin-right: 7px;
    margin-bottom: 19px;
}

/* модальное окно */

.modal-overlay{
    display: none;
    position: fixed;
    background-color: rgba(255, 139, 3, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.modal{
    max-width: 550px;
    text-align: center;
    background-color: #FFFFFF;
    
    padding: 50px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close{
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}


/* стрелка при скролинге */

#up{
    display: none;
    position: fixed;
    width: 30px;
    height: 30px;
    font-size: 22px;
    font-weight: 700;
    bottom: 2vh;
    right: 2vw;
    background-color: #FF8B03;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1), -2px -2px 2px 1px rgba(0, 0, 0, 0.1) ;
    color: white;
    cursor: pointer;
}

#up span{
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: rotate(-90deg) translate(85%, -30%);
}


@media screen and (max-width: 1200px) {
    .container{
        max-width: 1040px;
    }

    .main_hr {
        transform: rotate(90deg) translate(190px, -227px);
    }
    .main_rotate-text {
        width: 425px;
        left: -150px;
        top: 290px;
       
    }
    .main_title{
        font-size: 65px;
        line-height: 105px;  
    }
    
    .main_text{
        font-size: 35px;
        line-height: 43px;
    }

    .img_pointer {
        transform: rotate(90deg) translate(158px, 294px);
    }

    .main_subtitle {
        /* position: absolute; */
        top: 11vh;
        left: 15vw;
    }

    .main__building{
        left: 9.5vw;
        margin-bottom: 130px;
    }

    .main__building-img > img{
        max-width: 90%;
    }
}

@media screen and (max-width: 1090px) {
    .container{
        max-width: 750px;
    }

    .logo{
        max-width: 280px;
    }

    .main_hr {
        height: 30px;
        transform: rotate(90deg) translate(79px, -174px);
    }
    .main_rotate-text {
        width: 400px;
        left: -11vw;
        top: 23vh;
       
    }
    .main_title{
        font-size: 50px;
        line-height: 85px; 
    }
    
    .main_text{
        font-size: 35px;
        line-height: 43px;
    }

    /* .img_pointer > img{
        max-width: 90%;
    } */

    .img_pointer {
        transform: rotate(90deg) translate(54px, 237px);
    }

    .main_subtitle {
        top: 10vh;
        left: 19vw;
    }

    .main__building{
        left: 7vw;
        margin-bottom: 100px;
    }

    .main__building-title {
        font-size: 20px;
        line-height: 26px;
    }

    .main__building-img > img{
        max-width: 90%;
    }

    .about {
        max-width: 100%;
        margin-bottom: 70px;

    }
    .about_pointer {
        bottom: 3vh;
    }

    .about_title {
        max-width: 233px;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .about_text {
        max-width: 330px;
        margin-bottom: 40px;
    }

    .projects_title {
        text-align: center;
        margin: 0 auto 30px;
    }

    .carusel_item {
        /* max-width: 90%; */
        margin-right: 20px;
    }

    .bx-wrapper img {
        max-width: 90%;
        /* display: block; */
    }

    .wwd {
      
        max-width: 100%;
        margin: 81px auto 100px;
    }
    .content_text {
        max-width: 350px;
        margin-bottom: 37px;
    }

    .wwd_grid {
        gap: 17px 20px;
        margin-bottom: 30px;
    }

    .wwd_grid-title {
        margin-left: 10px;
    }

    .button_wwd {
        margin-left: 61px;
    }

    .wwd_pointer {
        left: -3vw;
        bottom: -5vh;
    }

    .clients_pointer {
        left: 4vw;
        bottom: -2vh;
       
    }

    .clients_company {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        align-items: center;
    }

    .new_img {
        max-width: 90%;
        margin-bottom: 21px;
    }
}

@media screen and (max-width: 800px) {
    .container{
        max-width: 500px;
    }

    .header {
        
        padding: 25px 0 10px;
    }

    .hmbrgr_menu_cnt:before, .hmbrgr_menu_cnt:after, .hmbrgr_menu_cnt .arrow {
        width: 46%;
    }

    .logo{
        max-width: 250px;
    }

    .logo_text {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        
    }

    .menu_all li:first-of-type {
        margin-top: 80px;
    }

    .menu_all li {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .flex-column {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: end;
    }

    .adress {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .main_subtitle {
        font-size: 16px;
        top: 11vh;
        left: 25vw;
    }

    .main_hr {
        height: 25px;
        transform: rotate(90deg) translate(66px, -127px);
    }

    .main_title {
        font-size: 35px;
        line-height: 60px;
    }

    .main_rotate-text {
        left: -79px;
        top: 140px;
    }

    .main_text {
        font-size: 22px;
        line-height: 30px;
    }

    .img_pointer > img{
        max-width: 80%;
    }

    .img_pointer {
        transform: rotate(90deg) translate(49px, 150px);
    }

    .main__building {
        left: 8vw;
        margin-bottom: 70px;
    }

    .main__building-text {
        position: absolute;
        top: 3vh;
        left: 2vw;
    }

    .flex_about {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .about_title {
        /* max-width: 233px;
        font-size: 25px;
        line-height: 30px; */
        margin: 0 auto 20px;
    }

    .about_old {
        font-size: 55px;
        line-height: 80px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .about_img > img:first-of-type {
        max-width: 90%;
    }

    .about_pointer {
        max-width: 80%;
        right: -3vw;
        bottom: -6vh;
    }

    .projects_title {
        font-size: 32px;
        line-height: 38px;
    }

    .bx-wrapper img {
        max-width: 70%;
    }

    .carusel_img {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .carusel_item {
        /* max-width: 70%; */
        margin-right: 10px;
    }

    .flex_wwd {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content_title {
        font-size: 25px;
        line-height: 30px;
        margin: 0 auto 20px;
    }

    .button_wwd {
        margin-left: 0;
    }

    .wwd_img > img:first-of-type {
        max-width: 90%;
    }

    .clients_foto > img:first-of-type {
        max-width: 90%;
    }

    .clients_pointer {
        left: 7vw;
        bottom: 4vh;
    }

    .clients_name {
        margin-bottom: 17px;
    }

    .clients_position {
        margin-bottom: 20px;
    }

    .clients_text {
        
        max-width: 240px;
        margin-bottom: 25px;
        margin-left: 30px;
    }

    .clients_text::before {
        font-size: 40px;
        line-height: 68px;
        top: -19px;
        left: -31px;
    }

    .subtitle_hr {
        width: 19px;
        margin-right: 10px;
    }

    .subtitle_name {
        max-width: 90%;
        font-size: 15px;
        line-height: 20px;
    }

    .footer{
        padding: 30px 0 35px;
    }

    .footer_grid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;
        text-align: center;
        justify-items: center;
    }
    .footer_grid > div:first-child{
        grid-column: span 3;
    }

       
}

@media screen and (max-width: 550px) {
    .container{
        max-width: 430px;
    }

    .logo {
        max-width: 226px;
    }

    .adress {
       
        font-size: 10px;
        line-height: 12px;
        
    }

    .icon {
        max-width: 90%;
    }

    .nav_li:not(:last-of-type) {
        margin-right: 20px;
    }

    .flex_main {
        flex-direction: column;
        
    }

    .main_hr {
        opacity: 0;
    }

    .main_rotate {
        
        transform: rotate(0deg);
        margin-bottom: 50px;
    }

    .main_rotate-text {
        left: 7vw;
        top: 5vh;
        text-align: center;
        
    }

    .img_pointer {
        transform: rotate(90deg) translate(-48px, 5px);
    }

    .main_subtitle {
        opacity: 0;
    }

    .main__building {
        left: 0;
        margin-bottom: 30px;
    }

    .main__building-img > img {
        max-width: 100%;
    }

    .main__building-title {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 0;
    }
    .main__building-link {
       
        font-size: 8px;
        line-height: 10px;
       
    }

    .about_hr {
       margin: 0 auto;
    }

    .about_img > img:first-of-type {
        max-width: 80%;
    }

    .about_pointer {
        /* max-width: 80%; */
        right: 0vw;
        /* bottom: -6vh; */
    }

    .projects_title {
        font-size: 25px;
        line-height: 30px;
    }

    .wwd {
        /* max-width: 100%; */
        margin-bottom: 50px;
    } 

    .wwd_img > img:first-of-type {
        max-width: 80%;
    }

    .wwd_pointer {
        left: 0vw;
        /* bottom: -5vh; */
    }

    .clients_pointer {
        left: 9vw;
        bottom: 22vh;
    }

    clients_title {
        
        font-size: 25px;
        line-height: 30px;
    
        margin: 69px auto 50px;
    }

    .new_title {
       
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 25px;
    }

    .new_flex {
        flex-direction: column;
        align-items: center;
    }

    .subtitle_name {
        margin-bottom: 15px;
    }

    .footer {
        padding: 0 0 67px;
    }
}

@media screen and (max-width: 480px) {
    .container{
        max-width: 310px;
    }

    .hmbrgr_menu_cnt {
        padding: 3px;
        margin: 0 78px;
    }

    .hmbrgr_menu_cnt:before, .hmbrgr_menu_cnt:after, .hmbrgr_menu_cnt .arrow {
        width: 35%;
    }

    .hmbrgr_menu_cnt.open:before {
        top: 13px;
    }

    .hmbrgr_menu_cnt.open:after {
        bottom: 13px;
    }

    .logo{
        max-width: 220px;
    }

    .logo_text {
        font-size: 16px;
        line-height: 20px;
    }

    .menu_all li:first-of-type {
        margin-top: 60px;
    }

    .menu_all li {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 13px;
    }

    .adress {
        max-width: 110px;
        margin-bottom: 5px;
    }

    .nav_li:not(:last-of-type) {
        margin-right: 15px;
    }

    /* .main_hr {
        height: 20px;
        transform: rotate(90deg) translate(-66px, -243px);
    } */

    .main_rotate-text {
        max-width: 90%;
        left: 0;
        top: 4vh;
    }

    .img_pointer > img{
        max-width: 70%;
    }

    .img_pointer {
        transform: rotate(90deg) translate(-41px, 49px);
    }

    /* .main_subtitle {
        right: 20vw;
        top: 60px;
    } */

    .main__building {
        
        margin: 0 auto 30px;
    }

    /* .wwd_grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 15px;
        margin-bottom: 30px;
    }

    .wwd_icon{
        text-align: center;
        align-items: center;
    } */

    .clients_title {
        text-align: center;
        font-size: 20px;
        line-height: 28px;
        margin: 50px auto 30px;
    }

    .clients_name {
       
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .clients_position {
        margin-bottom: 10px;
    }

    .clients_text {
        font-size: 9px;
        line-height: 13px;
        margin-bottom: 8px;
        margin-left: 30px;
    }

    .clients_text::before {
        font-size: 30px;
        line-height: 42px;
        top: -8px;
        left: -34px;
    }

    .footer {
        padding: 0;
    }

    .footer_grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        /* text-align: center;
        justify-items: center; */
    }

    .footer_grid > div:first-child{
        grid-column: span 2;
    }

    .footer_grid > div:last-child{
        grid-column: span 2;

    }

    
}

@media screen and (max-width: 360px) {
    .container{
        max-width: 300px;
    }

    .adress {
        font-size: 8px;
        line-height: 10px;
    }

    .nav_li:not(:last-of-type) {
        margin-right: 8px;
    }

    .main_rotate {
        
        margin-bottom: 20px;
    }

    .main_title {
        font-size: 30px;
        line-height: 45px;
    }

    .main_text {
        font-size: 18px;
        line-height: 25px;
    }

    /* .main_subtitle {
        right: 10vw;
       
    }
    .main_hr {
        height: 15px;
        transform: rotate(90deg) translate(-58px, -240px);
    } */

    .about_text {
        max-width: 90%;
        margin: 0 auto 20px;
    }

    .about_old {
        max-width: 100%;
        font-size: 50px;
        line-height: 70px;
        padding: 0 12px 46px 8px;
        margin-right: 15px;
    }

    .about_year {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 14px;
    }

    .content_text {
        max-width: 290px;
        text-align: start;
        margin: 0 0 25px;
    }

    .wwd_grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
        margin-bottom: 20px;
    }

    /* .wwd_icon {
        margin-left: 20px;
        align-items: center;
    } */

    .clients_content {
        flex-direction: column;
        
    }

    .clients_pointer {
        left: 9vw;
        bottom: -5vh;
    }

    .clients_company {
        max-width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
        align-items: center;
    }

    

}

@media screen and (max-width: 320px) {
    .container{
        max-width: 290px;
    }

    .logo {
        max-width: 200px;
        padding: 25px 24px 27px 99px;
    }

    /* .main_hr {
        
        transform: rotate(90deg) translate(-57px, -220px);
    } */

    .flex_about {
        
        align-items: center;
        text-align: start;
    }

    .about_title {
        margin: 0 0 15px;
    }

    .about_text {
        max-width: 90%;
        margin: 0 0 15px;
    }

    .about_hr {
        margin: 0;
    }

    .button {
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .about_pointer {
        right: 6vw;
    }

    .flex_wwd {
        text-align:start;
    }

    .content_title {
        margin: 0 0 15px;
    }

    .content_text {
        margin-bottom: 15px;
    }

    .flex_wwd > div:last-of-type{
        text-align: center;
    }
}