body{
    font-family: 'Open Sans', sans-serif;
}
 
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.header{
    margin: 53px 0;
}
.nav_ul{
    text-align: center;
}
.nav_li{
    display: inline-block;
    }
.nav_li:not(:last-of-type){
    margin-right: 47px;
}

.nav_link{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000; 
    text-decoration: none;
}

.background{
    text-align: center;
    padding: 138px 0 180px 0;
    background-image: url(./bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background_title{
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.background_button{
    width: 420px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;

    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #162C38;
   }

.description{
    background-color: rgba(3, 103, 134, 0.7);
    text-align: center;
    padding: 133px 0;
}

.description_text{
    max-width: 726px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
}

