body{
    font-family: 'Open Sans', sans-serif;
}
 
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.header{
    margin: 53px 0;
}
.nav_ul{
    text-align: center;
}
.nav_li{
    display: inline-block;
    }
.nav_li:not(:last-of-type){
    margin-right: 47px;
}

.nav_link{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000; 
    text-decoration: none;
}

.background{
    text-align: center;
    padding: 138px 0 180px 0;
    background-image: url(./bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background_title{
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.background_button{
    width: 420px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;

    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #162C38;
   }

.description{
    background-color: rgba(3, 103, 134, 0.7);
    text-align: center;
    padding: 133px 0;
}

.description_text{
    max-width: 726px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
}

.text_block{
    position: relative;
}

.block1, .block2, .block3{
    position: absolute;
    width: 178px;
    height: 121px;
    background: #BFDEFB;
    }

.block1{
    top: -100px;
    left: -80px;  
}
.block2{
    top: 175px;
    left: -80px;  
}
.block3{
    top: 15px;
    right: -80px; 
}


.text,.text2{
    position: relative;
    max-width: 696px;
    margin: 221px auto 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    /* box-sizing: border-box; */
}

.text2::before{
    content: '' ;
    position: absolute;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: #5C98AB;

    top: -58px;
    left: -0px;
}

 .text2::after{
    content: '' ;
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #BFDEFB;
    bottom: -60px;
    right: -152px;
} 

.form-section{
    max-width: 647px;
    margin: 123px auto 100px;
   }

.input_wrapper{
    position: relative;
    margin-bottom: 41px;
}
.input{
    width: 100%;
    height: 96px;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 36px 0px 11px 34px;
    box-sizing: border-box;
}

.label{
position: absolute;
left: 31px;
top: 14px;
font-weight: 300;
font-size: 14px;
line-height: 19px;
color: #000000;
}

.input::placeholder{
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
}

.form_button{
    width: 100%;
    height: 92px;
    background: #5C98AB;
    border: none;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
}